.main-header {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.main-header h1 {
	margin-left: 70px;
}
.App {
	display: flex;
	flex-direction: row;
}

.cardlist-container-gap {
	display: flex;
}
