.App {
	display: flex;
	justify-content: center;
	border-left: 17px solid rgba(0, 0, 0, .2);
	/* flex-direction: column; */
	/* justify-content: center; */
	/* text-align: center; */
}

/* .app-main {
	display: flex;
} */

.App h1,
.App p {
	text-align: center;
}
